body{
	font-family: 'Roboto',sans-serif;
	background: url("/Kickstarter-Browser/assets/placeholder.png");
	background-attachment: fixed;
	background-repeat: repeat;
	overflow-x: hidden;
}

.head{
	width: 100%;
	height: 50px;
	font-size: 55px;
	font-family: 'Macondo',cursive;
	text-align: center;
	margin-bottom: 25px;
	margin-top: 10px;
}

.center-aligned{
	text-align: center;	
}

.card .card-image{
	background-color: #333333;
	height: 200px;
	cursor: default;
}

.project-name{
	margin: 0;
	font-size: 18px;
	padding-bottom: 10px;
	color: #fff;
	opacity: 1;
	position: static;
	transition: all 0.3s linear;
}

.card .card-image:hover .project-name{
	opacity: 1 !important;
	margin-bottom: -1rem;
}

.project-creator{
	font-size: 14px;
	margin: 0;
	color: #fff;
	transition: all 0.3s linear;
}

.card .card-image:hover .project-creator{
	opacity: 0 !important;
	
}

.project-location{
	font-size: 12px;
	line-height: 25px;
	margin: 0;
	color: #fff;
	transition: all 0.3s linear;
}

.card .card-image:hover .project-location{
	opacity: 0 !important;
	margin-bottom: -0.5rem;

}

.card .card-image .card-title{
	padding-bottom: 5px;
	transition: all 0.3s linear;
}

/*.card .card-image:hover .card-title{
	opacity: 0;
}*/

.KS-link-button{
	background: #00e676;
}

.KS-link-button:hover{
	background: #c8ffcf;
}
.card{
	margin: 2rem 0.75rem;
}

.card div.card-content{
	padding-bottom:5px;
}

.project-description{
	font-size: 14px;
}

.card div.card-action{
	padding-top: 0;
	padding-right: 5px;
	border: none;
}

.progress-bar{
	width: 100%;
	height: 6px;
	margin-right: 20px;
	border-radius: 3px;
	background: #c8ffcf ;
}

.progress-bar-completed{
	width: 70%;
	height: 6px;
	border-radius: 3px;
	background: #00e676;
}
.percent-complete{
	position: relative;
	left: 65%;
	margin-right: 0.25rem;
	font-size: 0.75rem;
	font-weight: bold;
}

.funding-stats{
	margin: 0;
	margin-top: 15px;
}
.funding-stats>div>span{
		font-size: 1.1rem;
		font-weight: bold;
}
.funding-stats>div>span.days{
		font-size: 0.71rem;
		font-weight: normal;
}

.amt-pledged{
	text-align: left;
}

.backers,.days-left{
	text-align: center;
}

.mask-div{
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,0.7);
	z-index: 9999;
	transition: all 0.3s linear;
}

.card-image:hover .mask-div{
	background: rgba(0,0,0,0);
}


@media only screen and (min-width: 993px){
	.container{
		width: 80%;
	}
	.card .card-image img{
		height: 35vh;
	}
	.funding-stats>div>span{
		font-size: 1.3rem;
	}
	.funding-stats>div>span.days{
		font-size: 0.81rem;
	}
}

@media only screen and (max-width: 500px){

	.project-description{
		display: none;
	}
	.head{
		font-size: 25px;
	}

}